@media(max-width:1499px) {
	header .main-header {
		padding: 0 70px
	}

	header .sub-header {
		padding: 10px 70px
	}

}

@media(max-width:1399px) {
	header .sub-header {
		padding: 10px 30px
	}

	header .main-header {
		padding: 0 30px
	}

	header .navbar ul li a {
		padding: 8px 20px
	}

	.owl-carousel .owl-nav .owl-prev {
		left: -1%
	}

	.owl-carousel .owl-nav .owl-next {
		right: -1%
	}

	.contact-block iframe {
		height: 344px
	}

	.iq-asked-cl .wpb_wrapper {
		margin: 60px 60px
	}

	/* ----------------------------- */
	span.scan { display: none; }
	.slideList{text-align: center; top: 62%;}
	.slideList ul li img{width: 69%; text-align: center; margin: 0 auto; }
	.carouselLinks img.object-img{top: 50%; width: 30%}
	.partner-details { padding: 16px; }
	.iq-breadcrumb-three img.vizion-img{height: 100%;}
}

@media(max-width:1365px) {
	header .sub-header {
		padding: 10px 15px
	}

	header .main-header {
		padding: 0 15px
	}

	header .navbar ul li a {
		font-size: 14px
	}

	.frequently-asked {
		padding-left: 0 !important;
		padding-right: 0 !important
	}

	.iq-accordion {
		margin-right: 0
	}

	.contact-block iframe {
		height: 312px
	}

	.iq-asked-cl .wpb_wrapper {
		margin: 30px 15px
	}

	/* ----------------------------------- */
	.tech-no { display: block; margin-right: 0; margin-bottom: 30px; }
	.grid figure { min-width: auto; }
	.slideList ul li img { width: 60%; text-align: center; margin: 0 auto; }
	.carouselLinks img.object-img { top: 50%; width: 26% }
	.partner-details .media-body { padding: 0; }
	.our-event ul.nav-pills li { margin-right: 2%; width: 15%; }
	.our-event .nav-pills .nav-link, .our-event .nav-pills .nav-link.active, .our-event .nav-pills .show>.nav-link { padding: 10px 8px; }
	.partner-img { width: 37%; }

}

@media(max-width:1299px) {
	.contact-block .vc_column-inner {
		margin-left: 0
	}

}

@media(max-width:1199px) {
	.widget.widget_nav_menu ul li .sub-menu, .widget ul.menu li .sub-menu {
		padding-left: 10px
	}

	.iq-breadcrumb .title {
		font-size: 42px
	}

	.iq-amazing-tab .nav-item {
		width: 15.8%
	}

	table td, table th {
		padding: 5px;
		text-align: center
	}

	.radius_white img {
		width: 94%;
	}

	.holderCircle {
		margin: 60px 0 60px 45px
	}

	.woocommerce .products li.product.last, .woocommerce-page .products li.last {
		margin-right: 30px;
	}

	.woocommerce .products li.product:nth-child(3n) {
		margin-right: 0;
	}

	.woocommerce .products.columns-4 li.product {
		width: 31.11%;
	}

	.woocommerce ul.products li.first, .woocommerce-page ul.products li.first {
		clear: right;
	}

	.woocommerce .related.products .products.columns-4 li.product {
		margin-bottom: 30px;
	}

		/* ----------------------------------------- */

	header.header-with-searchbar .login li:last-child a { font-size: 12px; }
	header.header-with-searchbar .navbar-light .navbar-nav .menu-item { margin: 0 12px; }
	.iq-awards .owl-carousel .owl-item img{width: auto;}
	.nav-pills .nav-link{padding: 10px 10px;}
	.our-event ul.nav-pills li{margin-right: 10px;}
	.partner-details{margin-left: 30px;}
	.slideList ul li img{width: 44%;}
	.carouselLinks img.object-img { top: 48%; width: 18%; }
	.slideList { top: 65%; }
	.iq-tab .nav-item { width: 24%; }
	.partner-img { width: 49%; }

}

@media(max-width:992px) {
	.shop_list,header .navbar ul.shop_list {
		display: none;
	}


	header .main-header {
		padding: 10px 15px
	}

	header .navbar-light .navbar-toggler {
		background: #46c894;
		color: #ffffff;
		border-color: #46c894;
		padding: 0.25rem .50rem
	}

	header .navbar-light .navbar-toggler:focus {
		outline: none
	}

	header .navbar-collapse {
		position: absolute;
		top: 62px;
		line-height: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		-webkit-box-shadow: 0px 10px 30px 0px rgba(70, 200, 148, 0.2);
		-moz-box-shadow: 0px 10px 30px 0px rgba(70, 200, 148, 0.2);
		box-shadow: 0px 10px 30px 0px rgba(70, 200, 148, 0.2)
	}

	header .navbar ul {
		float: left;
		display: inline-block;
		width: 100%;
		background: #ffffff
	}

	header .navbar ul li.current-menu-parent>a {
		background: #46c894
	}

	header .navbar ul li {
		margin-right: 0;
		display: inline-block;
		position: relative;
		width: 100%
	}

	header .navbar ul li a {
		line-height: normal;
		display: inline-block;
		width: 100%;
		font-size: 16px;
		padding: 15px;
		z-index: inherit
	}

	header .navbar ul li a:before {
		border-radius: 0
	}

	header .navbar ul li .sub-menu, header .navbar ul li:hover .sub-menu {
		display: none;
		background: #333333;
		position: relative;
		top: 0;
		width: 100%;
		padding: 15px;
		z-index: 9
	}

	header .navbar ul li .sub-menu li a {
		color: #ffffff
	}

	header .navbar ul li i {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		padding: 12px 15px;
		line-height: 28px;
		font-size: 20px;
		z-index: 9;
		color: #333333;
		transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out
	}

	header .navbar ul li.current-menu-item i, header .navbar ul li.current-menu-parent i {
		color: #ffffff
	}

	header.menu-sticky .main-header .navbar ul li a {
		line-height: normal
	}

	header.menu-sticky .main-header .navbar ul li:hover .sub-menu {
		top: 0
	}

	header .navbar ul li .sub-menu li i {
		top: 0;
		right: 0;
		color: #ffffff;
		font-size: 20px
	}

	header .navbar ul li .sub-menu li:hover>.sub-menu {
		width: 100%;
		background: #333333;
		position: relative;
		left: 0;
		box-shadow: none;
		padding: 0
	}

	header .navbar ul li .sub-menu li i:before {
		content: "\f107"
	}

	header .navbar ul li a:before {
		display: none
	}

	header .navbar ul li.current-menu-item a, header .navbar ul li a:hover {
		background: #46c894
	}


	.widget_calendar .calendar_wrap table th, .widget_calendar .calendar_wrap table td {
		padding: 5px
	}

	.future-services {
		padding: 30px 15px
	}

	.iq-breadcrumb .title {
		font-size: 38px
	}

	.iq-amazing-tab .nav-item {
		width: 15.7%
	}

	.commentlist .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url {
		width: 31.6%
	}

	.iq-rmt-30 {
		margin-top: 30px
	}

	.iq-breadcrumb-two {
		padding: 75px 0
	}

	.iq-breadcrumb-two nav {
		margin-top: 15px;
		float: left
	}

	footer #footer-menu li a {
		font-size: 16px
	}

	.radius_white img {
		border-radius: 42px;
		width: 30%;
	}

	.holderCircle {
		margin: 60px auto 0;
	}

	.woocommerce .products li.product:nth-child(3n) {
		margin-right: 30px;
	}

	.woocommerce .products li.product:nth-child(2n) {
		margin-right: 0;
	}

	.woocommerce .products.columns-4 li.product {
		width: 47.8%;
	}

	.woocommerce a.button {
		padding: 3px 15px;
	}

	.woocommerce-message, .woocommerce-info {
		line-height: 2em;
		padding: 15px 15px 15px 45px;
	}

	.iq-product-image img {
		width: 100%;
	}

	/* ----------------------------------------- */
/* header.header-with-searchbar .sub-menu li a{background: #46c894;} */
	header.header-with-searchbar .navbar ul li .sub-menu li a{color: #ffffff;}
	.iq-breadcrumb-three .col-lg-6 img{  display: none;}
header.header-with-searchbar .navbar ul li.current-menu-parent>a {
    background: #46c894 ; color: #ffffff;
}
header.header-with-searchbar .navbar-light .navbar-nav .menu-item.current-menu-parent a{color: #ffffff;}

	header.header-with-searchbar .navbar-light .navbar-nav .menu-item a{
		padding:8px 10px; line-height:2em !important;
	}
	header.header-with-searchbar .navbar-light .navbar-nav .menu-item a{#333333;}
	header.header-with-searchbar .navbar ul li i{color: #333333;}
	header.header-with-searchbar .navbar ul li.current-menu-item i, header.header-with-searchbar .navbar ul li.current-menu-parent i{color: #ffffff;}
	header.header-with-searchbar .navbar-light .navbar-nav .menu-item.current-menu-item a,header.header-with-searchbar .navbar-light .navbar-nav .menu-item a:hover{color: #ffffff;}
	header.header-with-searchbar .navbar-light .navbar-nav .menu-item a{color:#333333;  }
	header.header-with-searchbar .navbar-light .navbar-nav .menu-item{
		margin: 0px;
	}
	.vizion-breadcrumb{padding-top: 0;}
	.iq-breadcrumb-three img.vizion-img{display: none;}
	.iq-breadcrumb-three{background: #46c894; padding: 100px 0px;}
	header.header-with-searchbar .login { position: absolute; top: -43px; right: 100px; }
	.iq-tab .nav-item{    width: 24%;}
	.cd-horizontal-timeline .events-content li{width: 86% !important;}
	.iq-challange-box{padding: 75px 15px 30px;}
	.info-box{margin-bottom: 0px;}
	.our-features .grid.bg-over-black-70 figure, .our-features .grid.bg-over-black-70 figure.effect-chico img , .our-features .grid.bg-over-black-70{width: 100%}
	.partner-details{margin-left: 16px;}
	.search-tick li:before{top: 2px;}
	.tech-no { display: block; line-height: 80px; font-size: 90px; margin-right: 0; margin-bottom: 20px; }

}

@media(max-width:979px) {
	.future-services {
		padding: 30px 5px
	}

	.widget_calendar .calendar_wrap table th, .widget_calendar .calendar_wrap table td {
		padding: 2px
	}

	.iq-amazing-tab .nav-item {
		width: 15.5%
	}

	.iq-amazing-tab .nav-item a {
		font-size: 13px
	}

	.commentlist .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url, .comment-respond .comment-form-author, .comment-respond .comment-form-email, .comment-respond .comment-form-url {
		width: 100%;
		margin-right: 0
	}

	.comment-form-cookies-consent label {
		padding-left: 30px;
		margin-top: -32px
	}

	.iq-breadcrumb.text-left .breadcrumb {
		padding: 10px 20px;
	}



	/* -------------------------- */
	.iq-tab .nav-item{    width: 28%;}
	.iq-challange-box::after, .iq-challange-box:before{bottom: -14px;}
	.slick-list .testimonial::before, .testimonial::after{bottom: -48px;}
	.slick-list .testimonial{margin-bottom: 94px;}

	.team-box img{width: 100%;}
	.nav-pills .nav-link{padding: 10px 18px;}
	.our-event ul.nav-pills{    display: block;
    text-align: center;
    margin: 0 auto;
    float: left;
    width: 100%;}
    .our-event ul.nav-pills li:last-child{
    	margin-right: 20px;
    }
	.our-event ul.nav-pills li{margin-right: 20px;text-align: center;display: inline-block;width: auto;}
	.slick-slide{margin-right: 30px;}
	.partner-details{margin-left: 25px; margin-right: 25px;}
	.slick-slide .col-lg-3 img{    text-align: center;  margin: 0 auto;}
	.button{padding: 15px 20px; font-size: 14px;line-height: 14px;}
	.carousel.slides > .carouselLinks a{float: left; width: 50%;}
	.carouselLinks li a.two:before{left: 0;}
	.carouselLinks img.object-img{display: none;}
	.carousel.slides .slideList ul{width: auto;}
	.slideList{top: auto; text-align: center; left: inherit; transform:none; position: relative; margin:0 auto;}
	.slideList ul li img{width: 100%;}
	.slideList li{position: relative; padding: 0 30px; width: 486px;height: 372px;}
	.carouselLinks li:nth-child(1){ position: inherit; }
	.carouselLinks li:nth-child(2){ position: inherit; }
	.carouselLinks li:nth-child(3){ position: inherit; text-align: left; }
	.carouselLinks li:nth-child(4){ position: inherit;  text-align: left;}

}

@media(max-width:767px) {
	.site-main .sf-content>.vc_row.wpb_row.vc_row-fluid, .content-area .site-main, .home.blog .content-area .site-main {
		padding: 70px 0
	}

	article.hentry .iq-blog-box .iq-blog-detail {
		padding: 30px 15px
	}

	.iq-blog-meta {
		line-height: 30px
	}

	article.hentry.format-audio .iq-blog-image p:nth-child(-n+2) {
		padding-top: 15px;
		padding-left: 15px
	}

	article.hentry.format-audio .iq-blog-image p {
		padding-left: 15px
	}

	.page-numbers li .prev.page-numbers, .page-numbers li .next.page-numbers {
		display: none
	}

	header .sub-header nav {
		display: none
	}

	.iq-breadcrumb .text-left {
		text-align: center !important
	}

	.error-404 .big-text {
		font-size: 200px
	}

	footer.footer1, footer.footer2 {
		text-align: center !important
	}

	footer .widget .menu {
		float: none;
		display: inline-block;
		margin-top: 0
	}

	footer .row.justify-content-between .col-auto {
		width: 100%
	}

	footer .widget .menu li {
		float: none;
		margin-right: 15px
	}

	footer hr.pt-5 {
		padding-top: 1rem !important
	}

	.iq-counter {
		margin-bottom: 30px
	}

	.last .iq-counter {
		margin-bottom: 0
	}

	.title-box .title {
		font-size: 40px
	}

	.iq-amazing-tab .nav-item {
		width: 30.5%;
		margin: 5px 5px
	}

	.iq-amazing-tab .nav-pills {
		border-radius: 6px
	}

	.iq-blog-meta ul.list-inline li {
		margin: 0 7px 0 0
	}

	.contact-block .vc_column-inner, .widget-area {
		margin-top: 30px
	}

	.commentlist .iq-comment-wrap {
		display: block
	}

	.commentlist ol.children {
		padding-left: 30px
	}

	.commentlist .iq-comments-photo {
		padding-right: 0;
		margin-bottom: 15px
	}

	footer.footer2 {
		text-align: left !important
	}

	.iq-asked-img {
		margin-top: 30px
	}

	.play-video {
		top: 30px;
		left: 15px
	}

	.contact-block .vc_column-inner {
		padding: 30px 15px !important
	}

	.iq-breadcrumb .title {
		margin-top: 15px
	}

	footer #footer-menu {
		float: none;
		margin-top: 30px
	}

	footer #footer-menu li {
		float: none
	}

	.tp-resizeme.iq-video {
		line-height: 1.8 !important
	}

	.round {
		display: none;
	}

	.radius_white img {
		width: 90%;
	}

	.holderCircle {
		margin: 30px auto 0;
	}

	.contentCircle {
		width: 100%;
		top: -130px;
		left: 0;
		transform: none;
	}

	.holderCircle {
		height: 380px;
	}

	.iq-list li i {
		display: inline-block;
		float: initial;
		margin-top: 0;
	}

	.iq-list li span {
		display: initial;
	}

	.works-box {
		margin: 30px 0;
	}

	.list-group.list-group-flush {
		margin-bottom: 45px;
	}

	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product {
		width: 100%;
	}

	.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		float: inherit;
	}

	.woocommerce .woocommerce-result-count {
		margin: 0px 0 15px;
		width: 100%;
		text-align: center;
	}

	.yith-wcwl-add-to-wishlist {
		top: 40px;
		right: inherit;
		left: 15px;
	}

	.woocommerce div.product .woocommerce-tabs ul.tabs li {
		padding: 0 15px;
	}

	.woocommerce table.shop_table td {
		display: inline-block !important;
		width: 100%;
	}

	.product-quantity .quantity {
		float: right;
	}

	.woocommerce table.shop_table_responsive tbody tr:first-child td:first-child, .woocommerce-page table.shop_table_responsive tbody tr:first-child td:first-child {
		border-top: 1px solid rgba(0, 0, 0, .1);
	}

	.woocommerce-MyAccount-navigation ul {
		margin: 0 0 30px 0;
	}

	/* ------------------------------- */
	header.header-with-searchbar {position: relative; background: #333333;padding: 8px 0px;}
	header.header-with-searchbar .container-fluid{padding: 0 15px;}
	header.header-with-searchbar .login{top: -42px;}
	header.header-with-searchbar  .login li a{padding: 6px 10px;}
	.feature1 .features-img:after{display: none;}
	.cd-horizontal-timeline .events-content li{width: 94% !important;}
	.iq-breadcrumb-three .col-lg-6 img{display: none;}
	.iq-breadcrumb-three{background-size: 140% 100%; padding: 66px 0;}
	.iq-breadcrumb-three .container-fluid {padding: 0 15px;}
	.iq-breadcrumb-three h2 { font-size: 40px; }
	.feature-one,.feature-two{display: none;}
	.iqr-mt-30{margin-top: 30px;}
	.iq-awards{padding: 20px 30px;}
	.slick-list .testimonial{margin-bottom: 75px;}
	.slick-list .testimonial::before, .testimonial::after{bottom: -30px;}
	.iq-challange-box{margin-bottom: 110px;}
	.our-partners img.partners-img{width: 50%;}

	.iq-challange-box::after, .iq-challange-box:before{    bottom: -27px; width: 51%;}
	.iq-tab .nav-item a{font-size: 12px;}
	.info-box{margin-bottom: 40px;}
	.partner-details .media { display: block; }

	.partner-img { width: 65%; }
	.carousel.slides > .carouselLinks a { width: 100%; }
	.slideList li { width: 300px; height: 372px; }
	.slideList { width: 300px; height: 212px; }
	.iq-background-overlay.skew-bg{height: 92%;}

}

@media(max-width:479px) {
	.error-404 .big-text {
		font-size: 150px;
		line-height: 160px
	}

	.iq-breadcrumb .title {
		font-size: 34px
	}

	.title-box .title {
		font-size: 36px
	}

	.iq-amazing-tab .nav-item {
		width: 46%
	}

	footer.footer2 .info-share a {
		width: 36px;
		height: 36px;
		line-height: 36px
	}

	/* -------------------------------- */
	header.header-with-searchbar .login li:last-child a{display: none;}
	header.header-with-searchbar .login {top: -36px; right: 60px;}
	.iq-tab .nav-item{width: 47%;}
	.testimonial::before, .testimonial::after{    bottom: -20px;}
	.slick-list .testimonial{margin-bottom: 36px;}
	.slideList ul{padding-left: 0;}
	.slick-list .testimonial::before, .testimonial::after{bottom: -20px;}
	.iq-challange-box::after, .iq-challange-box:before{    bottom: -20px;}
	.slideList li { width: 280px; height: 372px; }
	.slick-slider .slick-list { padding: 0 20px !important; }
	.partner-img { width: 50%; }
	.partner-details { margin: 0; }
	.our-partners { overflow-x: hidden; }
	.iq-star.float-right{float: left !important;}
	.slick-slide { margin-right: 0; }
	footer.footer3 input[type=email] { width: 58%; margin-right: 5px; font-size: 14px; }

}

@media(max-width:359px) {
	.sub-header {
		display: none
	}

}